*{
    border: 0;
    margin: 0;
    padding: 0;
  
}
body{
  background: rgba(243, 236, 143, 0.602); 
    text-align: justify;
   
  
}
#contenedor{
    margin-top: 10px;
    background: floralwhite;
    height: 1050px;
    width: 780px;
    margin-right: auto;
    margin-left: auto;
  
}
#banner{
    background: hsl(0, 98%, 45%);
    height: 330px;
    border-radius: 6px;

 
}

#noticias{
    text-align: center;
    background: hsl(0, 98%, 45%);
    height: 225px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;

 
}
#noticias #noticia1{ 
    background: #fff;
    width: 250px;
    height: 215px;
    display: inline-block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    color:  hsl(222, 96%, 33%);


 
}
#noticias #noticia2{ 
    background: #fff;
    width: 250px;
    height: 215px;
    display: inline-block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    color:  hsl(222, 96%, 33%);
 
}
#noticias #noticia3{ 
    background: #fff;
    width: 220px;
    height: 215px;
    display: inline-block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    color:  hsl(222, 96%, 33%);

 
}
footer{ 
    background: #ffdb11;
    width: 780px;
    height: 60px;
    padding-top: 20px;
    color:  hsl(222, 96%, 33%);
  }
  footer{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
  }
  header{ 
    width: 750px;
    height: 100px;
    padding: 8px 15px;
  

  }

  header h1 img{ 
    background: #666;
    width: 250px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    border-radius: 6px;
  }
  header #menu{ 
    text-align: center;
    background: #ffdb11;
    width: 450px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    border-radius: 6px;
    text-decoration: none;
    

  }
  #menu h2 a{ 
    color:  hsl(0, 100%, 99%);
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
    text-decoration: none;
    background: hsl(0, 98%, 45%);
    padding: 5px 20px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    

  }

#bienvenidos{ 
 padding-top: 10px;
 padding-left: 10px;
 padding-right: 10px;
 font-family: Arial, Helvetica, sans-serif;
 color: hsl(0, 98%, 45%);
}

#bienvenidos h1{ 
  font-size: 0.9em;
  padding-top:15px;
  background: #ffdb11;
  border-radius: 6px;
  padding: 5px 10px; 
  margin-top: 3px;
  font-family: Arial, Helvetica, sans-serif;
  color:  hsl(222, 96%, 33%);
   
 
 }
#banner img{ 
    width: 755px;
    height: 300px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
      
     
   
   }
#noticias img{ 
    width: 200px;
    height: 180px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
   
    
     
     
   
   }