*{
    border: 0;
    margin: 0;
    padding: 0;
  
}
body{
    background: rgba(243, 236, 143, 0.602); 
    text-align: justify;
   
  
}
#contenedor{
    margin-top: 10px;
    background: floralwhite;
    height: 1050px;
    width: 780px;
    margin-right: auto;
    margin-left: auto;
  
}
#banner{
    background: hsl(0, 98%, 45%);
    height: 330px;
    border-radius: 6px;

 
}

#noticias{
    text-align: center;
    background: hsl(0, 98%, 45%);
    height: 225px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;

 
}

  header{ 
    width: 750px;
    height: 100px;
    padding: 8px 15px;
  

  }

  header h1 img{ 
    background: #666;
    width: 250px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    border-radius: 6px;
  }
  header #menu{ 
    text-align: center;
    background: #ffdb11;
    width: 450px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    border-radius: 6px;
    text-decoration: none;
    

  }

#bienvenidos ul{ 
 padding-top: 10px;
 padding-left: 30px;
 padding-right: 10px;
 font-family: Arial, Helvetica, sans-serif; 
 color:  hsl(0, 98%, 45%)
  

}
#bienvenidos li{ 
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:  hsl(222, 96%, 33%)
    
     
   
   }
#bienvenidos{ 
    padding-top: 10px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    color:  hsl(222, 96%, 33%)
     
    
   }
   #bienvenidos h1{ 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background: #ffdb11;
    border-radius: 6px;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif; 
    color:  hsl(222, 96%, 33%)
     
   
   }
#banner img{ 
    width: 755px;
    height: 300px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
      
     
   
   }
#listas h3{ 
    font-size: 1em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    color:  hsl(222, 96%, 33%)
  
   }
   #listas ul{ 
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
    text-align: justify;
    color:  hsl(0, 98%, 45%)
   }

   #fortalezas h2{ 
       font-size: 1.3em;
    padding-top: 10px;
    text-align: center;
    color:  hsl(222, 96%, 33%);
    background: #ffdb11;
    border-radius: 6px;
    padding: 5px 10px;
    
   }

   #conten { 
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:  hsl(222, 96%, 33%);
   
   }
   #conten p{ 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: justify;
    color:  hsl(222, 96%, 33%);
   }


  footer{ 
    font-family: Arial, Helvetica, sans-serif;
    background: #ffdb11;
    width: 780px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    color:  hsl(222, 96%, 33%)
  }

  #menu h2 a{ 
    color:  hsl(0, 100%, 99%);
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
    text-decoration: none;
    background: hsl(0, 98%, 45%);
    padding: 5px 20px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    

  }
  #conten2 h3{ 
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color:  hsl(222, 96%, 33%);
}
#conten2 ul{ 
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color:  hsl(0, 98%, 45%);
}